.body {
  background-color: rgba(255, 245, 215, 0.7);
}
.backimage {
  position: relative; /* Keep the image in place */
  top: 0;
  left: 0;
  object-fit: fill; /* Maintain aspect ratio */
  z-index: -1; /* Send the image behind other elements */
}

/* General container styles */
.desktopContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
  }
  
  .mobileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .leftPanel {
    flex: 1;
    text-align: center;
    margin-right: 2%;
  }
  
  
  .imageComparison {
    display: flex;
    justify-content: space-between;
  }
  

  
  /* Right Panel */
  .rightPanel {
    flex: 1;
    text-align: center;
    margin-right: 2%;
  }
  .rightcardContainer{
    position: absolute;
    bottom: -10%;
    right: 20px; /* Horizontally opposite of the left position of .cardcontainer */
    width: 35%;
    height: 90%;
    padding: 1%;
    background: rgba(255, 255, 255, 0.70);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: 1px white solid;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1%;
    transform: scale(0.8);
  }
  
  .uploadContainer {
    width: 100%;
    height: 40%;
  }

  .webuploadContainer {
    width: 100%;
    height: 60%;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  /* Mobile-specific */
  @media (max-width: 768px) {
    .mobileContainer .leftPanel,
    .mobileContainer .rightPanel {
      margin: 20px 0;
    }
    .image {
      width: 100px;
      height: 140px;
    }
  }
  
  
  .cardcontainer {
    position: absolute;
    bottom: -10%;
    left: 10px;
    width: 35%;
    height: 90%;
    padding: 0.5%;
    background: rgba(255, 255, 255, 0.70);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: 1px white solid;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
    transform: scale(0.8);
  }
  
  .title {
    color: #4B003B;
    font-size: 40px;
    font-family: 'Yu Gothic', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    border-bottom: dashed 4px #4B003B;
  }
  
  .titleBold {
    font-weight: 700;
  }
  
  .description {
    text-align: center;
    color: black;
    font-family: Yu Gothic, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    word-wrap: break-word;
    line-height: normal;
    padding: 4%;
  }
  
  .cardimage {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 22px;
    flex-shrink: 1;
    margin-bottom: 0px;
  }